@font-face {
  font-family: 'Saol Display Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Saol Display Regular'), url('./img/SaolDisplay-Regular.woff') format('woff');
}

body {
  font-family: "Saol Display Regular";
  background: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-center {
  display: flex;
  justify-content: center;
}

.row-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.row-left-center {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

.row-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
}

.row-oppose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.column {
  display:flex;
  flex-direction: column;
}

.column-center {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-center-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.column-left {
  display:flex;
  flex-direction: column;
  align-items: left;
}

.column-left-center {
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}